# Serverless directories
.serverless

# Go output binary
bootstrap

# docker config file
dockercfg

# credentials and other env files
*.env
*.aes
.cert/
!*example.env

# dev tools metadata
.idea/

tmp/
local_test.go
local_data.sh

# Terraform
.terraform/
main_override.tf
remote-tfc.tf
