# Serverless directories
.serverless

# golang output binary directory
bin

# local creds and stuff
aws.env
*.aes
local.env
.env
.cert/
.idea/
tmp/
local_test.go
local_data.sh
# Terraform
.terraform/
