## this local.env file is only used for local development and testing
## these vars are not needed in any deployed environments.

# https proxy config
DNS_PROVIDER=cloudflare
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
LETS_ENCRYPT_EMAIL=
LETS_ENCRYPT_CA=production
TLD=
SANS=
BACKEND1_URL=http://ui:80
FRONTEND1_DOMAIN=
BACKEND2_URL=http://app:8080
FRONTEND2_DOMAIN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LAMBDA_ROLE=arn:aws:iam::123456789012:role/twosv-api-prod-lambdaRole
API_KEY_TABLE=mfa-api_prod_api-key
WEBAUTHN_TABLE=mfa-api_prod_u2f

# AWS defaults
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
