## this local.env file is only used for local development and testing
## these vars are not needed in any deployed environments.

# https proxy config
DNS_PROVIDER=cloudflare
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
LETS_ENCRYPT_EMAIL=
LETS_ENCRYPT_CA=production
TLD=
SANS=
BACKEND1_URL=http://ui:80
FRONTEND1_DOMAIN=
BACKEND2_URL=http://app:8080
FRONTEND2_DOMAIN=
